{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" >
  <img class="card-img-top" src="{{i.img.url}}" alt=""  height="250">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text"> {{i.desc}}</p>
    <a href="{% url 'app4:detail' i.id%}" class="btn btn-primary">View details</a>
  </div>
</div>
        </div>

        {% endfor %}

    </div>

    <br><h5>click here to add new movies</h5>

    <a href="http://127.0.0.1:8000/add/"><button type="button">Add Movie </button></a>
</div>








{% endblock %}
